<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FurryFriends.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EDA7E391DB710EE00380FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EDA7E4D1DB710EF00380FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EDA7E581DB710EF00380FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
